<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MeshServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="MeshStateMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <MeshServer.Properties.Settings>
            <setting name="ViewType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GraphType" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ShowHiddenNodes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ServerCertHash" serializeAs="String">
                <value/>
            </setting>
            <setting name="AllowsAgentDownloads" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowsAgentUploads" serializeAs="String">
                <value>False</value>
            </setting>
        </MeshServer.Properties.Settings>
        <MeshStateMonitor.Properties.Settings>
            <setting name="ViewType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GraphType" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ShowHiddenNodes" serializeAs="String">
                <value>True</value>
            </setting>
        </MeshStateMonitor.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
